*{
    border: 0;
    padding: 0;
    margin: 0;
}

@import url('../CSS/GeneralStyling.css');

.middle{
    margin: 0 auto;
}

.popUp{
    width: 50vw;
    height: 40vh;
    background-color: rgb(29, 29, 29);
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 10px;
    padding: .4rem;
    color: white;
    position: fixed;
    top: 10vh;
    left: 25vw;
    z-index: 99;
    display: none;
    font-size: 1.5rem;
    text-align: center;

}

#game{
    width: 90vw;
    margin: auto;
    box-sizing: border-box;
    padding: 2rem;
    min-height: 75vh;
    background-color: aquamarine;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 7.5px;
    position: relative;
}

.hint-field{
    width: 15%;
    min-width: 90px;
    max-width: 150px;
    height: 20%;
    min-height: 35px;
    max-height: 45px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgb(29, 29, 29);
    position: absolute;
    top: -5px;
    left: -5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: .25s ease-in-out;
}

.hint-field > div{
    width: 27px;
    height: 27px;
    border-radius: 27px;
    background-color: goldenrod;
    display: inline-block;
    transition: .5s ease-in-out;
}

.hint-field:hover{
    border-color: rgb(248, 187, 18);
}

#hangman{
    font-size: 2.8rem;
    height: 350px;
    position: relative;
    top: -5px;
}

#letter-field{
    margin-left: 10%;
    width: 50%;
    min-width: 250px;
    display: flex;
    flex-flow: column nowrap;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(136, 136, 136);
    box-sizing: border-box;
    padding: 1.5rem;    
    font-size: 2.5vw;
    text-align: center;
}

#word-field{
    font-size: 4vw;
}

#word-wrong{
    font-size: 2.5vw;
}

h2{
    color: white;
}

#guessing-field{
    width: 90vw;
    min-height: auto;
    box-sizing: border-box;
    padding: 1.5rem;
    background-color: rgb(29, 29, 29);
    margin-top: -1.2vh;
    border-radius: 25px;
    display: flex;
    flex-flow: column nowrap;
}

h2{
    text-align: center;
    font-size: 2rem;
}

#guess{
    height: 40px;
    width: 175px;
    margin: 0 auto;
    background-color: rgb(29, 29, 29);
    border: 1px solid rgb(158, 158, 158);
    color: white;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 1%;
}

#confirm{
    position: relative;
    left: 5%;
    height: 40px;
    font-size: 1rem;
    padding: .6rem  1rem;
    background-color: lightcoral;
    color: white;
    border-radius: 10px;
    transition: .3s ease-in-out;
    cursor: pointer;
}

#confirm:hover{
    background-color: rgb(238, 78, 78);
}

p{
    display: inline-block;
    color: transparent;
}

@media (max-width: 850px){
    .popUp{
        width: 91vw;
        left: 2.9vw;
        top: 20vh;
    }

    #game{
        flex-flow: column nowrap;
    }

    .hint-field{
        max-height: 30px;
    }

    .hint-field > div{
        width: 20px;
        height: 20px;
        border-radius: 20px;
    }

    #hangman{
        font-size: 6vw;
        height: auto;
        top: 0;
    }
    
    #letter-field{
        margin-left: 0;
        margin-top: 15%;
        width: 85%;
    }

    #word-field{
        font-size: 275%;
        
    }

    #word-wrong{
        font-size: 5vw;
    }

    h2{
        font-size: 1.5rem;
    }

    #guessing-field{
        padding: 1rem;
    }
}